/*
#ddafaf : rosa
#272727: cinza escuro
#6c5555 :marron 
#a8a5a5 :cinza claro 
#a8a8a8: cinza
*/

body{
    background-color: aqua;
}

#principal{
    background-color: white;
    margin: 0 19.75rem 0 19.75rem;
    height: 100%; /*100vh*/
    display: grid;
    grid-template-columns: 1fr 70%;
   
}

/* Geral ======================================================== */  
.title_left{
    color: #6c5555 ;
    text-transform:uppercase;
    margin-left: 1.25rem;
}
/* Lado esquerdo ======================================================== */
#lado_esquerdo{
    background-color: #ddafaf;
    font-family: Arial, Helvetica, sans-serif;
}

.me{
 color: white;
 margin-left: 1rem;
 margin-right: 1rem;
 text-align: justify;
}

.material-icons.icone_branco{
    color: white;
}

.bloco_informacao{
    display: flex;
    flex-direction: row;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 0.31rem;
    width: 100%; 
}

.descricao_left{
    font-size: 1rem;
    color: white;
    font-weight: 100;
    font-family: Andale mono,monospace;
    margin-left: 1rem;
    margin-left: 1rem;
}

/*em cima, a direita, em baixo  a esquerda*/
.image{
    margin: 3.12rem 1.56rem 3.12rem 1.56rem;
    border-radius: 50%;
    }
    
/* Lado direito ======================================================== */
#lado_direito{
    background-color:white;
    color: #6c5555;
    margin-left: 1.87rem;
    margin-right: 1.87rem;
    font-family: Arial, Helvetica, sans-serif;
}

p{ 
    text-align: justify;
}

.title_right{
    text-transform:uppercase;
    background-color:#ddafaf ;
}

.box{
    box-sizing: border-box;
    margin-left: 1rem;
    margin-right: 1rem;
}
  
.descricao_rigth{
    font-size: 1rem;
    font-weight: 200;
    font-family: Andale mono,monospace;
    margin-left: 1rem;
    margin-right: 1rem;
}


/* Footer ======================================================== */    
