/*
#ddafaf : rosa
#272727: cinza escuro
#6c5555 :marron 
#a8a5a5 :cinza claro 
#a8a8a8: cinza
*/

body{
    background-color: aqua;
}

#principal{
    background-color: white;
    margin: 0 300px 0 300px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 70%;
   
}

/* Geral ======================================================== */  
.title_left{
    color: #6c5555 ;
    text-transform:uppercase;
    margin-left: 20px;
}
/* Lado esquerdo ======================================================== */
#lado_esquerdo{
    background-color: #ddafaf;
    font-family: Arial, Helvetica, sans-serif;

}

.me{
 color: white;
 margin-left: 10px;
 margin-right: 10px;
 text-align: justify;
}

.material-icons.icone_branco{
    color: white;

}

.bloco_informacao{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    width: 100%;
   
}

.descricao_left{
    font-size: 16px;
    color: white;
    font-weight: 100;
    font-family: Andale mono,monospace;
    margin-left: 16px;
}

/*em cima, a direita, em baixo  a esquerda*/
.image{
    margin: 50px 25px 50px 25px;
    border-radius: 50%;
    }
    
/* Lado direito ======================================================== */
#lado_direito{
    background-color:white;
    color: #6c5555;
    margin-left: 30px;
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

p{ 
    text-align: justify;
}

.title_right{
    text-transform:uppercase;
    background-color:#ddafaf ;
}

.box{
    box-sizing: border-box;
    margin-left: 15px;
}
  
.descricao_rigth{
    font-size: 16px;
    font-weight: 200;
    font-family: Andale mono,monospace;
    margin-left: 10px;
    margin-left: 10px;
}


/* Footer ======================================================== */    
